* {
  margin: 0;
  padding: 0;
  /* background-color: #e3d1ba; */
}

nav{
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
}

body {
  height: 100vh;
  overflow: hidden;
  background-image: url("img/bgr-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.sadrzaj {
  position: relative;
  top: 10vh;
  left: 5vw;
  height: 80vh;
  width: 90vw;
}

img {
  display: none;
  object-fit: contain;
  height: 100%;
  margin: 0 auto;
  border:15px ridge #783e1f;
  -webkit-box-shadow:4px 10px 80px 2px #040000 inset,0px 0px 7px 1px #000400 ;
  -moz-box-shadow:4px 10px 80px 2px #040000 inset,0px 0px 7px 1px #000400 ;
  box-shadow:4px 10px 80px 2px #040000 inset,0px 0px 7px 1px #000400 ;
}

.prikaz {
  display: none;
}

.animacija {
  display: block;
  animation-duration: 5s;
  animation-name: animacija-ulaz;
}

@keyframes animacija-ulaz {
  0% {
    transform: translateX(-80vw);
  }
  20% {
    transform: translateX(0);
  }
  50%{
    transform:rotateY(0deg);
  }
  65%{
    transform:rotateY(180deg);
  }
  80%{
      transform:rotateY(0deg);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(80vw);
  }
}
